<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:title="#{title}"></title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1 style="text-align: center" th:text="#{index.title}"></h1>
<h3 style="text-align: left" th:text="#{index.twitter}"></h3>
<form name="mainform" action="twitter/send" method="GET">
<input type="submit" name="action" value="twitter/send" style="background-image: url(/icons/Twitter.png); text-align: center; border: solid 0px #000000; width: 64px; height: 64px; font-size: 0em; line-height: 0em"/>
</form>
</body>
</html>